# **Random Forest**

In [1]:
import pandas as pd

In [ ]:
sp = pd.read_csv('S&P500-2025-01-10.csv')

In [97]:
from sklearn.model_selection import train_test_split

In [99]:
X= sp.drop(columns=['Target'])
y = sp['Target']

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [104]:
X= sp.drop(columns=['Target'])
y = sp['Target']

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state=42)

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# Initialize the model
model = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the model
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy}")
print(f"Classification Report:\n{report}")

# Get the prediction for the last row in the test set
last_pred = y_pred[-1]

print(f"Prediction for the last row: {last_pred}")

Accuracy: 0.5226244343891403
Classification Report:
              precision    recall  f1-score   support

           0       0.46      0.46      0.46       195
           1       0.57      0.57      0.57       247

    accuracy                           0.52       442
   macro avg       0.52      0.52      0.52       442
weighted avg       0.52      0.52      0.52       442

Prediction for the last row: 0

In [105]:
from sklearn.model_selection import GridSearchCV

# Define the parameter grid
param_grid = {
    'n_estimators': [50, 100, 200],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4]
}

# Initialize the model
model = RandomForestClassifier(random_state=42)

# Initialize Grid Search
grid_search = GridSearchCV(estimator=model, param_grid=param_grid, cv=5, n_jobs=-1, verbose=2)

# Fit Grid Search
grid_search.fit(X_train, y_train)

# Get the best parameters
best_params = grid_search.best_params_
print(f"Best parameters: {best_params}")

# Train the model with the best parameters
best_model = grid_search.best_estimator_

# Make predictions
y_pred = best_model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy}")
print(f"Classification Report:\n{report}")

# Get the prediction for the last row in the test set
last_pred = y_pred[-1]
print(f"Prediction for the last row: {last_pred}")

Fitting 5 folds for each of 108 candidates, totalling 540 fits
Best parameters: {'max_depth': 10, 'min_samples_leaf': 2, 'min_samples_split': 2, 'n_estimators': 50}
Accuracy: 0.5384615384615384
Classification Report:
              precision    recall  f1-score   support

           0       0.43      0.14      0.21       195
           1       0.56      0.85      0.67       247

    accuracy                           0.54       442
   macro avg       0.49      0.50      0.44       442
weighted avg       0.50      0.54      0.47       442

Prediction for the last row: 0

In [102]:
y_pred

array([0.41, 0.55, 0.89, ..., 0.79, 0.21, 0.29])

In [101]:
# Get the prediction for the last row in the test set
last_pred = y_pred[-1]

print(f"Prediction for the last row: {last_pred}")

Prediction for the last row: 0.29

## 2

In [80]:
# Everything except the last 20% of rows
p80 = int(len(sp)*0.95)

train = sp.iloc[:p80]
test = sp.iloc[p80:]

In [65]:
train.head()

,Open,High,Low,Close,Volume,Target
Date,,,,,,
1990-01-02 05:00:00+00:00,353.399994,359.690002,351.980011,359.690002,162070000,0
1990-01-03 05:00:00+00:00,359.690002,360.589996,357.890015,358.760010,192330000,0
1990-01-04 05:00:00+00:00,358.760010,358.760010,352.890015,355.670013,177000000,0
1990-01-05 05:00:00+00:00,355.670013,355.670013,351.350006,352.200012,158530000,1
1990-01-08 05:00:00+00:00,352.200012,354.239990,350.540009,353.790009,140110000,0

In [67]:
test.head()

,Open,High,Low,Close,Volume,Target
Date,,,,,,
2018-01-04 05:00:00+00:00,2719.310059,2729.290039,2719.070068,2723.989990,3697340000,1
2018-01-05 05:00:00+00:00,2731.330078,2743.449951,2727.919922,2743.149902,3239280000,1
2018-01-08 05:00:00+00:00,2742.669922,2748.510010,2737.600098,2747.709961,3246160000,1
2018-01-09 05:00:00+00:00,2751.149902,2759.139893,2747.860107,2751.290039,3467460000,0
2018-01-10 05:00:00+00:00,2745.550049,2750.800049,2736.060059,2748.229980,3579900000,1